node_modules
.next
coverage
.git
.gitignore
Dockerfile*
docker-compose*.yml
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
!.env.production.example
.DS_Store
*.pem
